<h1>Edit <%= @figure.name%></h1>
<form action="/figures/<%=@figure.id%>" method="post">
  <label>New Name: </label>
  <input type="text" name="figure[name]" id="figure_name">
  <br> </br>
  <label>Choose A Title: </label>
  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
  <%end%>
  <label>or Create A New Title: </label>
  <input type="text" name="new_title" id="title[name]" class="new_title">
  <br> </br>
  <label>Choose A Landmark: </label>
  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>
    <br></br>
  <label>or Create A New Landmark: </label>
  <input type="text" name="new_landmark" id="landmark[name]">
  <br></br>
  <input type="submit" value="Edit Figure">
</form>
